
<div class="pages">
  <div class="common">
    <h1><%= @interview.title %></h1>
    <strong><%= @interview.author.name %>. <%= Russian::strftime(@interview.created_at, "%A, %e %B %Y г.") %></strong>
    <div class="post_preview">
      <div class="thumb">
        <%= image_tag @interview.picture.url(:medium) %>
      </div>
      <div class="short_desc">
        <%= @interview.short_description %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="post_info">
      <div class="other_link">
        <div class="title"><%= @interview.review_title %></div>
          <%= @interview.review %>
        <div class="title">Ссылки по теме</div>
        <ul>
          <li><a href="">Как я стала мамой</a></li>
          <li><a href="">Про манекенщицу, трех дочек и детский сад в Сомали</a></li>
        </ul>
      </div>
      <div class="post_share">
        <div class="title">Делись с друзьями</div>
        sdf dfg f g
      </div>
    </div>
    <div class="description">
      <%=raw @interview.content %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="sidebar">
    <div class="alongside">
      <div class="title">Лучшие места для детей в Москве</div>
        <ul>
          <li>
            <span class="thumb">
              <a href="">
              <img alt="" src="/assets/samp/samp_1.jpg" style="background-image: url("/assets/samp/samp_1.jpg");">
              </a>
            </span>
            <span class="name">
              <a href="">Центр детских проектов и разработок "Шардам"</a>
            </span>
            <span class="geo">Северо-Восток</span>
          </li>
          <li>
            <span class="thumb">
              <a href="">
              <img alt="" src="/assets/samp/samp_1.jpg" style="background-image: url("/assets/samp/samp_1.jpg");">
              </a>
            </span>
            <span class="name">
              <a href="">Центр детских проектов и разработок "Шардам"</a>
            </span>
            <span class="geo">Северо-Восток</span>
          </li>
          <li>
            <span class="thumb">
              <a href="">
              <img alt="" src="/assets/samp/samp_1.jpg" style="background-image: url("/assets/samp/samp_1.jpg");">
              </a>
            </span>
            <span class="name">
              <a href="">Центр детских проектов и разработок "Шардам"</a>
            </span>
            <span class="geo">Северо-Восток</span>
          </li>
        </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- dunno what to do with it

<h5>Interview Tags</h5>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

Комментарии <br />

<div class="comments_list">
  <% @comments.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
</div>

<%= render 'shared/comment_form' %>

<%= content_for :head do %>
  <script>
    var relation = 'Interview';
    var relation_id = <%= @interview.id %>;
    var can_create_comment = <%= can? :create, :comment %>
  </script>
<% end %>
-->
