<h1><%= @interview.title %></h1>
<h3><%= @interview.author %></h3>
<p><%= @interview.content %></p>

<h5>Interview Tags</h5>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

<h5>Comments</h5>
<%= render 'comments/comments_block', comments: @comments %>
