<% if (article = category.articles.sample) %>
  <% if (article.author.role.name == 'expert') %>
  <div class="personality_preview exp">
    <div class="personality_wrapper">
      <%= link_to category.title, '#', class: "cat", 'data-id' => category.id %>
      <span class="mark"><%= article.author.approvals_count %></span>
      <div class="thumb">
        <%= link_to image_tag(article.author.avatar), expert_path(article.author) %>
      </div>
      <span class="name"><%= link_to article.title, article %></span>
      <span class="date"><%= Russian::strftime(article.created_at, "%e %B %Y") %></span>
    </div>
  </div>
  <% else %>
  <div class="personality_preview">
    <div class="personality_wrapper">
      <%= link_to category.title, '#', class: "cat", 'data-id' => category.id %>
      <div class="thumb">
        <span class="mask"></span>
        <%= link_to image_tag(article.picture.url), article %>
      </div>
      <span class="name"><%= link_to article.title, article %></span>
      <span class="date"><%= Russian::strftime(article.created_at, "%e %B %Y") %></span>
    </div>
  </div>
  <% end %>
<% end %>