
<div class="post_list">
  <h1>Статьи</h1>
   С блекджеком и шлюхами
  <%= render 'shared/articles_menu', current: 'articles' %>
  
  <div class="sorter_wraper">
    <div class="cell">
       Сортировать по
      <span class="sort_date">
        <%= link_to "дате добавления", '#' %>
      </span>
      или
      <span class="sort_comment">
        <%= link_to "количеству комментариев", '#' %>
      </span>
    </div>
    <div class="clear">
    </div>
  </div>
  
  <div class="sidebar">
    <div class="filter_sorter">
      <div class="filter_wraper">
        <div class="cell">
          <strong>Показывать только материалы по следующим темам:</strong>
          <ul>
            <% @categories.each do |category| %>
            <li class="articles_category">
              <input type="checkbox"
                     id="category_<%= category.id %>_checkbox"
                     data-id="<%= category.id %>"/>
              <span class="sim_check"></span>
              <label for="category_<%= category.id %>_checkbox">
                <%= category.title %>
              </label>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= render 'shared/sidebar' %>
  </div>
  
  <div class="common">
    <div class="articles_container">
      <%= render 'articles_list', articles: @articles %>
    </div>
    <div class="clear"></div>
    
  </div>
  
</div>

<script type="text/javascript">
$(document).ready(function(){
  $(".filter_sorter li label").live('click',function(){
    var idCheck = $(this).attr("for");

    if($('#'+idCheck).attr('checked')){
  			$(this).prev("span").removeClass("active");
  		} else {
  			$(this).prev("span").addClass("active");
  		}
  });
});
</script>
