<% content_for :title do %>
  Фестиваль Яркие Люди | Яркий Журнал
<% end %>

<div class="pages">
  <div class="journal_title">
    <h1>Добро пожаловать на страницы Яркого Журнала</h1>
    <span>Наша редакция собирает для вас лучшее из детского мира Москвы</span>
  </div>
  
  <%= render 'persons' %>

  <div style="float:right; width:100%;	margin-left:-540px;">
  <div class="personality_column">
    <% [@teachers_category, @foreign_category].each do |category| %>
      <% if article = category.articles.sample %>
      <div class="personality_preview">
        <div class="personality_wrapper">
          <%= link_to category.title, '#', class: "cat", 'data-id' => category.id %>
          <div class="thumb">
            <span class="mask"></span>
            <%= link_to image_tag(article.picture.url), article %>
          </div>
          <span class="name"><%= link_to article.title, article %></span>
          <span class="date"><%= Russian::strftime(article.updated_at, "%e %B %Y") %></span>
        </div>
      </div>
      <% end %>
    <% end %>
    
    <%= render 'expert_column', category: @expert_category %>
    
  </div>
  </div>

    
  <div class="clear"></div>

  <div class="common">
    <div class="rubric">
      <div class="rubric_wrapp">
        <div class="title">Рубрики</div>
        <div class="rubric_list">
          <ul>
            <% ArticleCategory.all.each do |category| %>
              <li><%= link_to category.title, '#', 'data-id' => category.id, :class => 'article' %></li>
            <% end %>
	    <li><%= link_to 'Новости', '#', :id => 'news' %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="journal_post">
      <% if @best_articles.any? %>
        <div class="title"><span>Лучшее</span></div>
        <%= render 'items', articles: @best_articles %>
      <% end %>

      <% if News.count > 0 %>
        <div class="title"><span>Новости</span></div>
        <%= render 'news',  news: News.order('publication_date DESC').first(3) %>
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="clear"></div>
</div>
