<div class="pages">
  <div class="journal_title">
    <h1>Добро пожаловать на страницы Яркого Журнала</h1>
    <span>Наша редакция собирает для вас лучшее из детского мира Москвы</span>
  </div>
  
  <div class="personality_slider">
    <div class="slides_container">
      <% @persons_category.articles.each do |article| %>
        <div class="slide">
          <%= link_to image_tag(article.picture.url(:slider)), article%>
          <div class="info">
            <div class="name"><%= article.title %></div>
            <%= article.short_description %>
          </div>
        </div>
      <% end %>
    </div>
    <img class="person_slide_lenta" alt="" src="assets/personality_lenta.png">
    <%= link_to image_tag("page_slider_arrow_right.png"), '#', class: "next" %>
    <%= link_to image_tag("page_slider_arrow_left.png"), '#', class: "prev" %>
  </div>

  <div class="personality_column">
    <% [@teachers_category, @foreign_category].each do |category| %>
      <% if article = category.articles.sample %>
      <div class="personality_preview">
        <div class="personality_wrapper">
          <%= link_to category.title, '#', class: "cat" %>
          <div class="thumb">
            <span class="mask"></span>
            <%= link_to image_tag(article.picture.url), article %>
          </div>
          <span class="name"><%= link_to article.title, article %></span>
          <span class="date"><%= Russian::strftime(article.created_at, "%e %B %Y") %></span>
        </div>
      </div>
      <% end %>
    <% end %>
    <%= render 'expert_column', category: @expert_category %>
  </div>

  <div class="clear"></div>

  <div class="common">
    <div class="rubric">
      <div class="rubric_wrapp">
        <div class="title">Рубрики</div>
        <div class="rubric_list">
          <ul>
            <% @categories.each do |category| %>
              <li><%= link_to category.title, '#' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="journal_post">
      <%= render 'articles_list', articles: @articles, remote: false %>
    </div>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="clear"></div>
</div>
