<% content_for :title do %>
  Фестиваль Яркие Люди | Яркий Журнал | <%= @article.title %>
<% end %>
<div class="pages">
  <div class="common">
    <h1><%= @article.title %></h1>
    <strong><%= @article.author.name %>. <%= Russian::strftime(@article.created_at, "%A, %e %B %Y г.") %></strong>
    <div class="post_preview">
      <div class="thumb">
	<%= image_tag @article.picture.url(:medium) %>
      </div>
      <div class="short_desc">
	<%== @article.short_description %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="post_info">
      <!-- OPTIMIZE: brr..ugly -->
      <% if @article.biography.present? || @article.author.articles.count > 1 %>
	<div class="other_link">
	  <% if @article.biography.present? %>
	    <div class="title">Биография</div>
	    <%== @article.biography %>
	  <% end %>

	  <% if @article.author.articles.count > 1 %>
	    <div class="title">Другие статьи автора</div>
	    <ul>
	      <% @article.author.articles.except(@article).each do |article| %>
		<li><%= link_to article.title, article %>
	      <% end %>
	    </ul>
	  <% end %>
	</div>
      <% end %>


      <div class="post_share">
        <div class="title">Делись с друзьями</div>
        <%= render 'shared/share_social' %>
        <div class="clear"></div>

</div>
</div>
<div class="description">
  <%== @article.content %>
</div>
<div class="clear"></div>
<% if @comments.blank? %> <div class="comment treeview hidden"> <% else %> <div class="comment treeview"> <% end %>
  <div class="title">Комментарии</div>
  <ul>
    <% @comments.each do |comment| %>
      <%= render 'shared/comment', comment: comment %>
    <% end %>
  </ul>
</div>
<div class="add_comment">
  <%= render 'shared/comment_form' %>
</div>
<div class="clear"></div>
</div>
<div class="sidebar">
  <%= render 'shared/sidebar' %>
</div>
<div class="clear"></div>
</div>

<%= dialog "Нужно зарегистрироваться", id: :register_dialog do %>
  Чтобы оставить комментарий, Вам нужно зарегистрироваться. Пожалуйста, проследуйте по ссылке выше.
<% end %>
