<% content_for :title do %>
  Фестиваль Яркие Люди | Участники фестиваля
<% end %>


<div class="pages">
  <div class="common">
    <div class="post_category_menu">
      <ul>
        <li class="about_ico"><a href="/pages/about_festival">О фестивале</a></li>
        <li class="org_ico"><a href="/pages/org_komitet">Оргкомитет</a></li>
        <li class="participants_ico active"><a href="/participants">Сцены</a></li>
        <li class="creative_ico"><a href="">Творческая группа</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div>
      <ul class="participants_menu">
        <li><%= link_to 'Хедлайнеры', '/participants' %></li>
        <li><%= link_to 'Музыкальная сцена', '/participants?category=music_stage' %></li>
        <li><%= link_to 'Кукольная сцена', '/participants?category=doll_stage' %></li>
        <li><%= link_to 'Цирковая сцена', '/participants?category=circus_stage' %></li>
        <li><%= link_to 'Уличные театры', '/participants?category=street_theater' %></li>
        <li><%= link_to 'Мастер-классы', '/participants?category=master_class' %></li>
      </ul>
    </div>
    <% if @best %>
    <div class="main_participants">
      <% @best.each do |b| %>
        <div class="item">
          <%= image_tag b.logo.url(:thumb), 'class' => 'participant_photo' %>
          <div class="title"><%= b.title %></div>
          <%= b.description %>          
          <div id="lightbox_hook_<%= b.id %>" class="hidden">
            <% b.photos.each do |photo| %>
              <%= link_to '#', photo.attach.url(:original), class: "photo#{photo.id}", rel: "participant_"+(b.id.to_s)+"[gallery]" %>
            <% end %>
            <% b.videos.each do |video| %>
              <%= link_to '#', video.url, class: "video#{video.id}", rel: "participant_"+(b.id.to_s)+"[gallery]" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
    <% end %>
    <% if @participants %>
    <div class="participants">
      <% @participants.each do |p| %>
      <div class="participant">
        <div class="participant_photo">
          <%= image_tag p.logo.url(:thumb) %>
        </div>
        <div class="participant_data">
          <div class="participant_title"><%= p.title %></div>
          <%= p.description %>
        </div>
        <div id="lightbox_hook_<%= p.id %>" class="hidden">
          <% p.photos.each do |photo| %>
            <%= link_to '#', photo.attach.url(:original), class: "photo#{photo.id}", rel: "participant_"+(p.id.to_s)+"[gallery]" %>
          <% end %>
          <% p.videos.each do |video| %>
            <%= link_to '#', video.url, class: "video#{video.id}", rel: "participant_"+(p.id.to_s)+"[gallery]" %>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>
