<% content_for :title do %>
  Фестиваль Яркие Люди | Участники фестиваля
<% end %>


<div class="pages">
  <div class="common">
    <div class="post_category_menu">
      <ul>
        <li class="about_ico"><a href="/pages/about_festival">О фестивале</a></li>
        <li class="org_ico"><a href="/pages/org_komitet">Оргкомитет</a></li>
        <li class="participants_ico active"><a href="/participants">Участники фестиваля</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div>
      <ul>
        <li><%= link_to 'Хедлайнеры', '/participants' %></li>
        <li><%= link_to 'Музыкальная сцена', '/participants?category=music_stage' %></li>
        <li><%= link_to 'Кукольная сцена', '/participants?category=doll_stage' %></li>
        <li><%= link_to 'Цирковая сцена', '/participants?category=circus_stage' %></li>
        <li><%= link_to 'Уличные театры', '/participants?category=street_theather' %></li>
        <li><%= link_to 'Мастер-классы', '/participants?category=master_class' %></li>
      </ul>
    </div>
    <% if @best %>
      <% @best.each do |b| %>
        <div class="main_participant">
          <%= image_tag b.logo.url(:thumb) %>
          <%= b.title %>
          <br>
          <%= b.description %>
        </div>
      <% end %>
    <% end %>
    <br>
    --------------------------------------------------
    <br>
    <% if @participants %>
      <% @participants.each do |p| %>
        <div class="participant">
          <span class="participant_photo">
            <%= image_tag p.logo.url(:thumb) %>
          </span>
          <%= p.title %>
          <br>
          <%= p.description %>
          <ul id="pikame" class="jcarousel-skin-pika hidden">
            <% p.photos.each do |photo| %>
              <li><%= link_to image_tag(photo.attach.url(:slider), 'data-hook-class' => "photo#{photo.id}") %></li>
            <% end %>
            <% p.videos.each do |video| %>
              <li class="slideshow_video_item"><div class="video"></div><%= link_to image_tag(video.preview_url, 'data-hook-class' => "video#{video.id} ", 'style' => 'width:530px') %></li>
            <% end %>
          </ul>
        </div>
        <div id="lightbox_hook" class="hidden">
          <% p.photos.each do |photo| %>
            <%= link_to '#', photo.attach.url(:original), class: "photo#{photo.id}", rel: "prettyPhoto[participant]" %>
          <% end %>
          <% p.videos.each do |video| %>
            <%= link_to '#', video.url, class: "video#{video.id}", rel: "prettyPhoto[participant]" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>
