<%= semantic_form_for [:admin, @interview], html: { multipart: true } do |f| %>
  <%= f.inputs 'Основное' do %>
    <%= f.input :title %>
    <%= f.input :is_enabled, as: :boolean %>
    <%= f.input :author, as: :select, collection: User.all, include_blank: false %>
    <%= f.input :review_title %>
    <%= f.input :review %>
    <%= f.input :short_description, input_html: {size: 5} %>
    <div id="wysihtml5-toolbar-interview" style="display: none;">
      <a data-wysihtml5-command="bold">bold</a>
      <a data-wysihtml5-command="italic">italic</a>
      <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div">question</a>
      <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">intermediate header</a>
  
      <a data-wysihtml5-command="createLink">insert link</a>
      <div data-wysihtml5-dialog="createLink" style="display: none;">
        <label>
          Link:<input data-wysihtml5-dialog-field="href" value="http://" class="text">
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>
    </div>
    <%= f.input :content, input_html: {size: 10} %>
    <%= f.input :picture, as: :file, hint: f.template.image_tag(f.object.picture.url(:medium)) %>
    <%= f.input :interview_tag_list %>
  <% end %>
  <%= f.buttons %>
  <%= link_to "view on site", interview_path(@interview), {:target => "_blank"} %>
<% end %>

