<%= render 'profile_menu', current: 'profile' %>

<%= form_for @user, method: :put, html: {id: :update_profile_form} do |f| %>
  <div class="field">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <% @user.errors.each do |field, message| %>
    <p><strong><%= field %>:</strong> <%= message %></p>
  <% end %>
  <%= f.submit %>
<% end %>
