<li>
  <div class="thumb">
    <span class="mask"></span>
    <%= image_tag comment.user.avatar.url(:comment) %>
  </div>
  <div class="info">
    <%= comment.user.name %>
    <span class="date"><%= Russian::strftime(comment.created_at, "%e %B %Y г., %R") %></span>
    <div class="quote"><%= comment.text %></div>
    <% if current_user or current_admin_user %>
      <%= link_to 'Ответить на комментарий', '', :class => 'create_comment reply', 'data-id' => comment.id %>
    <% end %>
  </div>
  <div class="clear"></div>
  <ul>
    <% comment.children.each do |child| %>
      <%= render 'shared/comment', comment: child %>
    <% end %>
  </ul>
</li>
