<div class="footer_header"></div>
<div class="footer_content">
  <div class="footer_shadow">
    <div class="wrapper">
      <div class="left column">
        <div class="gen_sponsor">
          
          <a href="http://mkb.ru/"><img src="/assets/footer_bank_bg.png" alt="" /></a>
          <span>дарит городу праздник<br />
в честь своего 20-летия</span>
        </div>

	<div class="create license">
	ОАО «МОСКОВСКИЙ КРЕДИТНЫЙ БАНК»<br />
Генеральная лицензия Банка России<br />
№ 1978 от 20 января 2000 г.
	
	</div>

      </div>
      <div class="center column">
        <div class="menu">
          <ul>
            <li><%= link_to 'Кружки и студии', activities_path %></li>
            <li><%= link_to 'Яркий журнал', articles_path %></li>
            <li><%= link_to 'Фестиваль', page_path('org_komitet') %></li>
            <li><%= link_to 'Конкурсы', contests_path %></li>
            <li><%= link_to 'Экспертный совет', experts_path %></li>
            <li><%= link_to 'Спецпроекты', special_projects_path %></li>
          </ul>
        </div>
        
        <div class="create">
          Разработано в <a href="http://www.balticit.ru/">BalticIT</a><br />
          Дизайн – <a href="http://cargocollective.com/clicheist">Веркс</a>
        </div>
        
        <div class="copy">
          &copy; 2012 ООО &laquo;Брайт Пипл&raquo;.<br />
          Все права защищены.<br />
        </div>
        
      </div>
      <div class="right column">
        <div class="gen_sponsor">
          <a href="http://mos.ru/"><img src="/assets/moscow_logo.png" alt="" /></a>
        </div>
        
        <div class="phone_info" style="padding-top:22px">
            <span>PR-поддержка</span><br />
            +7 (495) 640-42-32 &bull; info@massovet.ru
        </div>
        
        <div class="phone_info">
        	<span>Организатор фестиваля</span><br />
            +7 (495) 640-91-21 &bull; info@bright-people.ru
        </div>
        
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
