<div class="alongside">
  <div class="title">Лучшие места для детей в Москве</div>
  <ul>
    <% Activity.published.sample(3).each do |activity| %>
      <li>
        <%= link_to activity do %>
        <span class="thumb">
          <%= image_tag(activity.logo.url) %>
        </span>
        <span class="name">
          <%= activity.title %>
        </span>
        <% end %>
        <% counter = 1 %>
        <% unless activity.metro_stations.uniq.blank? %>
          <% activity.metro_stations.uniq.each do |ms| %>
            <span class="geo">
              <%= image_tag ms.metro_branch.icon.url %>
              <%= ms.try(:title)+(counter == activity.metro_stations.uniq.count ? "" : ",") %>
            </span>
            <% counter+=1 %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

