<div class="profile_magazine" data-id="<%= object.id %>" data-type="<%= object.class.name %>">
  <div class="info">
    <%= link_to "delete", dashboard_favorite_path(favourite), method: :delete, confirm: "Вы уверены?", :class => "close" %>
    <div class="thumb">
      <%= link_to image_tag(object.picture), send(:"#{object.class.name.underscore}_path", object) %>
    </div>
    <div class="name"><%= link_to object.title, send(:"#{object.class.name.underscore}_path", object) %></div>
    <div class="date"><%= object.created_at.to_formatted_s(:main) %></div>
  </div>
</div>
