<div class="bright_magazine">
  <div class="magazine_control">
    <div class="title">Яркий журнал</div>
    <div class="text">
      Все что вы хотели узнать о детской жизни в Москве
    </div>
    <ul>
      <li class="green"><a rel="show_mag_all" class="active" href="">Все</a></li>
      <% ArticleCategory.all.each do |article| %>
	<li class="red"><a rel="show_mag_<%= article.id %>" href=""><%= article.title %></a></li>
      <% end %>
    </ul>
  </div>


<div style="float:right; width:100%;	margin-left:-180px;">

  <div class="magazine_tab">
    <div id="show_mag_all" class="mag_tabs">
      <% Article.for_main.each do |article| %>
	<div class="preview_cell">
	  <div class="info">
	    <div class="cat_name"><span><%= article.category.title %></span></div>
	    <div class="thumb"><%= link_to image_tag(article.picture.url), article_path(article) %></div>
	    <div class="name"><%= link_to article.title, article_path(article) %></div>
	    <div class="date"><%= article.updated_at.to_s(:main) %></div>
	  </div>
	</div>
      <% end %>
      <div class="clear"></div>
    </div>

    <% ArticleCategory.all.each do |category| %>
      <div id="show_mag_<%= category.id %>" class="mag_tabs">
	<div class="magazine_cell">
	  <% category.articles.for_main.each do |article| %>
	    <div class="preview_cell">
	      <div class="info">
		<div class="cat_name"><span><%= article.category.title %></span></div>
		<div class="thumb"><%= link_to image_tag(article.picture.url), article_path(article) %></div>
		<div class="name"><%= link_to article.title, article_path(article) %></div>
		<div class="date"><%= article.updated_at.to_s(:main) %></div>
	      </div>
	    </div>
	  <% end %>
	  <div class="clear"></div>
	</div>
      </div>
    <% end %>

  </div>
  
  </div>
  <div class="clear"></div>
</div>
