<div class="tender_and_spec">
  <div class="tender_last">
    <div class="title">
      <%= link_to "Конкурсы", contests_path %>
      <span class="tender_title_ico"></span>
    </div>
    <% if contest = Contest.for_main %>
      <div class="preview_tender">
        <div class="thumb"><%= link_to image_tag(contest.picture.url), contest_path(contest) %></div>
        <div class="name"><%= link_to contest.name, contest_path(contest) %></div>
        <div class="info"><%= simple_format contest.description %></div>
      </div>
    <% end %>
  </div>

  <div style="float:right; width:100%;	margin-left:-345px;">

  <div class="spec_project_last">
    <div class="title">
      <%= link_to "Спецпроекты", special_projects_path %>
    </div>
    <% SpecialProject.for_main.each do |sp| %>
      <div class="preview_cell">
        <div class="info">
          <div class="cat_name"><span><%= sp.title %></span></div>
          <div class="thumb"><%= link_to image_tag(sp.picture.url), special_project_path(sp) %></div>
          <div class="name">
            <%= link_to sp.title, special_project_path(sp) %>
            <span class="desc"><%= truncate(sp.content) %></span>
          </div>
        </div>
      </div>
    <% end %>
  
    <div class="clear"></div>
  </div>
  
  </div>
  
  <div class="clear"></div>
</div>

