<div class="council">
  <div class="expert">
    <div class="title">Экспертный совет
      <%= link_to 'Все эксперты', experts_path, class: :title_link %>
    </div>

    <% @experts.each do |expert| %>
      <div class="exp_preview">
        <%= link_to expert_path(expert) do %>
        <% if expert.approvals_count != 0 %>
        <span class="mark"><%= expert.approvals_count %></span>
        <% end %>
          <div class="thumb">
            <%= image_tag(expert.avatar.url) %>
          </div>
          <span class="name"><%= expert.name %></span>
        <% end %>
        <span class="info"><%= expert.description %></span>
      </div>
    <% end %>

  </div>
  <div class="trustee">
    <div class="title">Попечительский совет</div>

    <!-- Slider Setup -->

    <input class="hidden" checked type="radio" name="slider" id="slide1" />
    <input class="hidden" type="radio" name="slider" id="slide2" />
    <input class="hidden" type="radio" name="slider" id="slide3" />
    <input class="hidden" type="radio" name="slider" id="slide4" />
    <input class="hidden" type="radio" name="slider" id="slide5" />
    <input class="hidden" type="radio" name="slider" id="slide6" />
    <input class="hidden" type="radio" name="slider" id="slide7" />
    <input class="hidden" type="radio" name="slider" id="slide8" />
    <input class="hidden" type="radio" name="slider" id="slide9" />
    <input class="hidden" type="radio" name="slider" id="slide10" />
    <!-- The Slider -->

    <div id="slides">

      <div id="overflow">

        <div class="inner">
          <% Sponsor.all.each do |sponsor| %>
            <article>
              <div class="info">
                <%= sponsor.first_name %><br /><span><%= sponsor.last_name.upcase %></span>
                
              </div>
              <%= link_to image_tag(sponsor.photo.url(:main)), sponsor_path(sponsor), class: :thumb %>
              
            </article>
          <% end %>

          <div class="clear"></div>
        </div> <!-- .inner -->

      </div> <!-- #overflow -->

    </div> <!-- #slides -->


    <!-- Controls and Active Slide Display -->

    <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
      <label for="slide5"></label>
      <label for="slide6"></label>
      <label for="slide7"></label>
      <label for="slide8"></label>
      <label for="slide9"></label>
      <label for="slide10"></label>
    </div> <!-- #controls -->

    <div id="active" class="hidden">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
      <label for="slide5"></label>
      <label for="slide6"></label>
      <label for="slide7"></label>
      <label for="slide8"></label>
      <label for="slide9"></label>
      <label for="slide10"></label>
    </div> <!-- #active -->
  </div>
  <div class="clear"></div>
</div>
