This is the main page!
<% if current_user %>
  <%= link_to "Profile", url_for("/profile") %>
<% else %>
  <%= link_to "VK", user_omniauth_authorize_path(:vkontakte) %>
  <%= link_to "FB", user_omniauth_authorize_path(:facebook) %>
  <%= link_to "OD", user_omniauth_authorize_path(:odnoklassniki) %>
<% end %>

<%= render partial: 'shared/search' %>

<h2>Our experts</h2>
<% @experts.each do |expert| %>
    <p><%= link_to expert.name, expert %>
  <br>
  <%= expert.description.split('.').first %></p>
<% end %>
<%= link_to 'All experts', experts_path %>

