<div id="nested_slider">
  <div class="slider_control">
    <ul>
      <li class="sl_news"><a rel="slider_news" href="#">Новости фестиваля</a></li>
      <li class="sl_user"><a rel="slider_user" href="#">Участники</a></li>
      <li class="sl_fest"><a rel="slider_fest" href="#">О фестивале</a></li>
      <li class="sl_org"><a rel="slider_org" href="#">Оргкомитет</a></li>
    </ul>
  </div>
  <div id="slider_news" class="slider">
    <div class="slides_container">
      <div style="background:url(/assets/samp/slide_samp.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp.jpg) no-repeat 0 top; height:395px">

      </div>
    </div>
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  <div id="slider_user" class="slider">
    <div class="slides_container">
      <div style="background:url(/assets/samp/slide_samp_2.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp_2.jpg) no-repeat 0 top; height:395px">

      </div>
      <div style="background:url(/assets/samp/slide_samp_2.jpg) no-repeat 0 top; height:395px">

      </div>
    </div>
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
  <div id="slider_fest" class="slider">

  </div>
  <div id="slider_org" class="slider">

  </div>
</div>
<div class="main_content">
  <div>
    <div class="adv"><a href=""><img src="/assets/samp/adv_pic.jpg" alt="" /></a></div>
    <div class="bank_info">
      <div class="title">Добро пожаловать в мир ярких людей!</div>
      <div class="order_bank_catd">Заказать уникальную<br />родительскую карту Москвича</div>
      <div class="bank_text">
        Московский кредитный банк рад возможности подарить маленьким и взрослым москвичам этот праздник этим прекрасным летом 2012 года, когда все цветет.

        <div class="signature">Александр НИКОЛАШИН,<br />Президент Московского кредитного банка</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="timer">
      <div class="title">До начала фестиваля «Яркие люди» остается:</div>
    </div>

    <div class="clear"></div>
  </div>
  <div class="subscription">
    <div class="title">
      Подписка
      <span>на новые материалы из всех рубрик на</span>
    </div>
    <div class="subscript_form">
      <form action="">
        <input type="text" name="" />
        <input type="submit" value="Ok!" />
      </form>
    </div>
  </div>

</div>

<div id="center">
  <div class="bright_magazine">

    <div class="magazine_control">
      <div class="title">Яркий журнал</div>
      <div class="text">
        Все что вы хотели узнать о детской жизни в Москве
      </div>
      <ul>
        <li class="green"><a rel="show_mag_all" href="">Все</a></li>
        <li class="red"><a rel="show_mag_article" href="">Статьи</a></li>
        <li class="yellow"><a rel="show_mag_interview" href="">Интервью</a></li>
        <li class="red"><a rel="show_mag_news" href="">Новости Москвы</a></li>
      </ul>
    </div>
    <div class="magazine_tab">
      <div id="show_mag_all" class="mag_tabs">

	<% Staff::DB.jouranl_all.each do |all| %>
	  <%= render "shared/main_#{all.class.name.downcase}", object: all%>
	<% end %>
	
        <div class="clear"></div>
      </div>
      <div id="show_mag_article" class="mag_tabs">
        <div class="magazine_cell">
	  <% Article.for_main.each do |article| %>
	    <div class="preview_cell">
              <div class="info">
		<div class="cat_name"><span>Статьи</span></div>
		<div class="thumb"><%= link_to image_tag(article.picture.url), article_path(article) %></div>
		<div class="name"><%= link_to article.title, article_path(article) %></div>
		<div class="date"><%= article.created_at.to_s(:main) %></div>
              </div>
            </div>
	  <% end %>
          <div class="clear"></div>
        </div>
      </div>
      <div id="show_mag_interview" class="mag_tabs">
        <div class="magazine_cell">
	  <% Interview.for_main.each do |interview| %>
	    <div class="preview_cell">
              <div class="info">
		<div class="cat_name"><span>Интервью</span></div>
		<div class="thumb"><%= link_to image_tag(interview.picture.url), interview_path(interview) %></div>
		<div class="name"><%= link_to interview.title, interview_path(interview) %></div>
		<div class="date"><%= interview.created_at.to_s(:main) %></div>
              </div>
            </div>
	  <% end %>
          <div class="clear"></div>
        </div>
      </div>
      <div id="show_mag_news" class="mag_tabs">
        <div class="magazine_cell">
	  <% News.for_main.each do |novelty| %>
	    <div class="preview_cell">
              <div class="info">
		<div class="cat_name"><span>Интервью</span></div>
		<div class="thumb"><%= link_to image_tag(novelty.picture.url), news_path(novelty) %></div>
		<div class="name"><%= link_to novelty.title, news_path(novelty) %></div>
		<div class="date"><%= novelty.created_at.to_s(:main) %></div>
              </div>
            </div>
	  <% end %>
	</div>
      </div>
    </div>
  </div>

  <div class="council">
    <div class="expert">
      <div class="title">Экспертный совет
        <%= link_to 'Все эксперты', experts_path, class: :title_link %>
      </div>

      <% Expert.for_main.each do |expert| %>
        <div class="exp_preview">
          <%= link_to expert_path(expert) do %>
            <div class="thumb">
              <%= image_tag(expert.photo.url) %>
            </div>
            <span class="name"><%= expert.name %></span>
          <% end %>
          <span class="info"><%= expert.description %></span>
        </div>
      <% end %>

    </div>
    <div class="trustee">
      <div class="title">Попечительский совет</div>

      <!-- Slider Setup -->

      <input class="hidden" checked type="radio" name="slider" id="slide1" />
      <input class="hidden" type="radio" name="slider" id="slide2" />
      <input class="hidden" type="radio" name="slider" id="slide3" />
      <input class="hidden" type="radio" name="slider" id="slide4" />
      <input class="hidden" type="radio" name="slider" id="slide5" />

      <!-- The Slider -->

      <div id="slides">

        <div id="overflow">

          <div class="inner">
            <% Sponsor.all.each do |sponsor| %>
              <article>
                <%= link_to image_tag(sponsor.photo.url), sponsor_path(sponsor), class: :thumb %>
                <div class="info">
                  <%= sponsor.first_name %><br /><span><%= sponsor.last_name.upcase %></span><br />
                  <%= link_to 'Весь совет', sponsors_path, class: :all_trustee %>
                </div>
              </article>
            <% end %>

            <div class="clear"></div>
          </div> <!-- .inner -->

        </div> <!-- #overflow -->

      </div> <!-- #slides -->


      <!-- Controls and Active Slide Display -->

      <div id="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div> <!-- #controls -->

      <div id="active" class="hidden">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div> <!-- #active -->




    </div>
    <div class="clear"></div>
  </div>


  <div class="">
    <div class="moscow_agencies">
      <div class="title">Детские учреждения Москвы
        <%= link_to 'Образовательные', activities_path(kind: 'educational'), class: 'title_link globe' %>
        <%= link_to 'Развлекательные', activities_path(kind: 'entertainment'), class: 'title_link balloon' %>
      </div>

      <% Activity.for_main.each do |activity| %>
        <div class="preview_agencies">
          <div class="info">
	    <div class="thumb"><%= link_to image_tag(activity.logo.url), '#'%></div>
	    <div class="name"><%= link_to activity.title, '#'%></div>
            <div class="geo">Юго-Восток</div>
          </div>
        </div>
      <% end %>

      <div class="clear"></div>

    </div>
    <div class="socialnet">

    </div>
    <div class="clear"></div>
  </div>


  <div class="tender_and_spec">
    <div class="tender_last">
      <div class="title">Конкурсы
        <span class="tender_title_ico"></span>
      </div>

      <% if contest = Contest.for_main %>
	<div class="preview_tender">
          <div class="thumb"><%= link_to image_tag(contest.picture.url), contest_path(contest) %></div>
          <div class="name"><%= link_to contest.name, contest_path(contest) %></div>
          <div class="info"><%= simple_format contest.description %></div>
	</div>
      <% end %>

    </div>

    <div class="spec_project_last">
      <div class="title">Спецпроекты</div>
      <% SpecialProject.for_main.each do |sp| %>
	<div class="preview_cell">
          <div class="info">
            <div class="cat_name"><span><%= sp.title %></span></div>
            <div class="thumb"><%= link_to image_tag(sp.picture.url), special_project_path(sp) %></div>
            <div class="name">
	      <%= link_to truncate(sp.content), special_project_path(sp) %>
              <span class="desc">Классический по мотивам</span>
            </div>
          </div>
	</div>
      <% end %>

      <div class="clear"></div>

    </div>
    <div class="clear"></div>
  </div>
</div>
