<% news.each do |n| %>
  <div class="news">
    <%= image_tag n.photo.url %>
    <%= link_to n.title, n %>
    <%= Russian::strftime(n.publication_date, "%e %B, %A") %>
    <br>
    <%= truncate(n.content, separator: '.', omission: '.', length: 240) %>
  </div>
  <br>
<% end %>
<%= paginate news %>
