<div class="post_list">
  <h1>Новости</h1>
    Без преферанса и куртизанок
  <%= render 'shared/articles_menu', current: 'news' %>
  
  <div class="sorter_wraper">
    <div class="cell">
       Сортировать по
      <span class="sort_date">
        <%= link_to "дате добавления", '#' %>
      </span>
      или
      <span class="sort_comment">
        <%= link_to "количеству комментариев", '#' %>
      </span>
    </div>
    <div class="clear">
    </div>
  </div>
  
  <div class="common">
    <div class="news_container">
      <%= render 'news_list', news: @news %>
    </div>
    <%= paginate @news %>
    <div class="clear"></div>
    
  </div>
  
</div>
