<% content_for :title do %>
  Фестиваль Яркие Люди | Новости фестиваля
<% end %>



<div class="pages">
  <div class="common">
    <div class="post_category_menu">
      <ul>
        <li class="about_ico"><a href="/pages/about_festival">О фестивале</a></li>
        <li class="org_ico"><a href="/pages/org_komitet">Оргкомитет</a></li>
        <li class="participants_ico"><a href="/participants">Участники фестиваля</a></li>
        <li class="news_ico active"><a href="/news">Новости фестиваля</a></li>
      </ul>
      <div class="clear"></div>
    </div>

    <% @news.each do |n| %>
      <div class="news">
        <%= image_tag n.photo.url %>
        <%= link_to n.title, n %>
        <%= Russian::strftime(n.created_at, "%e %B, %A") %>
        <br>
        <%= truncate(n.content, separator: '.', omission: '.', length: 240) %>
      </div>
      <br>
    <% end %>
  <%= paginate @news %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>
