<% content_for :title do %>
  Фестиваль Яркие Люди | Новости фестиваля
<% end %>



<div class="pages">
  <div class="common">
    <div class="news">
    <% @news.each do |n| %>
      <div class="item">
        <%= image_tag n.photo.url %>
        <div class="content">
          <%= link_to n.title, n, :class => 'title' %>
          <div class="date">
            <%= Russian::strftime(n.created_at, "%e %B, %A") %>
          </div>
          <div class="text">
            <%= truncate(n.content, separator: '.', omission: '.', length: 240) %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
    </div>
  <%= paginate @news %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>
