<div id="center">
  <div class="pages">
    <div class="common">
      <h1><%= @news.title %></h1>
      <div>
        <strong><%= @news.author.name %>. <%= Russian::strftime(@news.created_at, "%A, %e %B %Y г.") %></strong>
      </div>
      <div class="post_info">
        <div class="thumb">
          <img width="238" alt="" src="/assets/samp/post_samp_prev.jpg" style="background-image: url('/assets/samp/post_samp_prev.jpg');">
        </div>
        <div class="other_link">
          <div class="title">Об авторе</div>
          <%= @news.author.description %>
          <div class="title">Другие статьи автора</div>
          <ul>
            <% news = @news.author.news.shuffle.first %>
            <li><%= link_to news.title, news %>
            <% news = @news.author.news.shuffle.last %>
            <li><%= link_to news.title, news %>
          </ul>
        </div>
        <div class="post_share">
          <div class="title">Делись с друзьями</div>
          sdf dfg f g
        </div>
      </div>
      <div class="description">
        <%= @news.content %>
      </div>
      <div class="clear"></div>
      <div class="comment treeview">
        <ul>
          <% @comments.each do |comment| %>
            <%= render 'shared/comment', comment: comment %>
          <% end %>
        </ul>
      </div>
      <div class="add_comment">
        <%= render 'shared/comment_form' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="clear"></div>
  </div>
</div>


<!--
<h1><%= @news.title %></h1>
<h3><%= @news.author %></h3>
<p><%= @news.content %></p>

<h5>News Tags</h5>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

Комментарии <br />

<div class="comments_list">
  <% @comments.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
</div>

<%= render 'shared/comment_form' %>

<%= content_for :head do %>
  <script>
    var relation = 'News';
    var relation_id = <%= @news.id %>;
    var can_create_comment = <%= can? :create, :comment %>
  </script>
<% end %>
-->
