<h1><%= @news.title %></h1>
<h3><%= @news.author %></h3>
<p><%= @news.content %></p>

<h5>News Tags</h5>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

Комментарии <br />

<div class="comments_list">
  <% @comments.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
</div>

<%= render 'shared/comment_form' %>

<%= content_for :head do %>
  <script>
    var relation = 'News';
    var relation_id = <%= @news.id %>;
    var can_create_comment = <%= can? :create, :comment %>
  </script>
<% end %>
