<% content_for :title do %>
  Фестиваль Яркие Люди | Новости фестиваля | <%= @news.title %>
<% end %>



<div class="pages">
  <div class="common">
    <div class="post_category_menu">
      <ul>
        <li class="about_ico"><a href="/pages/about_festival">О фестивале</a></li>
        <li class="org_ico"><a href="/pages/org_komitet">Оргкомитет</a></li>
        <li class="participants_ico"><a href="/participants">Участники фестиваля</a></li>
        <li class="news_ico active"><a href="/news">Новости фестиваля</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <br>
    <%= image_tag @news.photo.url(:original) %>
    <%= @news.title %>
    <%= Russian::strftime(@news.created_at, "%e %B, %A") %>
    <br>
    <%= @news.content %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>
