<% content_for :title do %>
  Фестиваль Яркие Люди | Новости фестиваля | <%= @news.title %>
<% end %>
<% content_for :before_head do %>
  <!-- for vk -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="title" content="<%= @news.title %>">
  <meta name="description" content="<%= truncate(Sanitize.clean(@news.short_description), length: 200, omission: '...') %>" />
  <link rel="image_src" href="<%= Rails.application.config.host_name+@news.photo.url(:slider) %>" />
  <!-- for vk -->
<% end %>


<div class="pages">
  <div class="common">
    <div id="news"></div>


    <div class="news_view">
      <div class="title"><%= @news.title %></div>
      <div class="date"><%= Russian::strftime(@news.publication_date, "%e %B, %A") %></div>
      <%= render 'shared/photos_lightbox', object: @news %>
      <div class="post_info">
        <div class="post_share">
          <div class="title">Делись с друзьями</div>
          <%= render 'shared/share_social' %>
          <div class="clear"></div>
        </div>
      </div>
      <div class="description">
        <div class="text"><%= raw @news.content %></div>
        <div class="article_tags">
          <% @tags.each do |t| %>
            <%= link_to t.name, tag_articles_path(tag: t.name) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear">
  </div>
</div>
