<% content_for :title do %>
  Фестиваль Яркие Люди | Экспертный Совет | <%= @creative.name %>
<% end %>
<div class="pages">
  <%= render 'shared/post_category_menu' %>
  
  <div class="expert_big_info">
    <!-- OPTIMIZE: brrrr...brrr -->
    <div class="name"><%== @creative.name.split(' ').join('<br>') %></div>
    <div class="thumb">
      <%= image_tag(@creative.avatar(:medium)) %>
    </div>
    <div class="doljnost"><%= @creative.profession %></div>
    <div class="clear"></div>
  </div>
  
  <div class="expert_page creative_page">
    <div class="left_part">
      <%= render 'experts/post_share' %>
    </div>
    <div class="right_part">
      <div class="dop_title">Биография</div>
      <div class="bio">
         <%== @creative.description %><br />
      </div>      
    </div>
    <div class="clear"></div>
  </div>
</div>
