<% content_for :title do %>
  Фестиваль Яркие Люди | Попечительский Совет
<% end %>

<div class="pages">
  <div class="post_category_menu">
    <ul>
      <li class="experts_ico"><a href="/experts">Экспертный совет</a></li>
      <li class="sponsors_ico active"><a href="/sponsors">Попечительский совет</a></li>
      <li class="crew_ico"><a href="">Команда</a></li>
      <li class="authors_ico"><a href="/authors">Авторы</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="expert_list_wrapper">
  <%= render 'sponsors_title' %>
    <div class="expert_list">
      
    <% @sponsors.each do |sponsor| %>
      <div class="exp_preview">
        <%= link_to sponsor_path(sponsor) do %>
        <div class="thumb">
          <%= image_tag(sponsor.photo) %>
        </div>
        <span class="name"><%= sponsor.first_name+" "+sponsor.last_name %></span>
        <% end %>
        
        <span class="info"><%= truncate(sponsor.description, separator: '.', length: 140, omission: '.') %></span>
      </div>
    <% end %>
      
      <div class="clear"></div>
    </div>
  </div>
</div>
