<% content_for :title do %>
  Фестиваль Яркие Люди | Попечительский Совет
<% end %>

<div class="pages">
  <%= render 'shared/post_category_menu' %>
  <div class="expert_list_wrapper">
  <%= render 'sponsors_title' %>
    <div class="expert_list">
      
    <% @sponsors.each_with_index do |sponsor, index| %>
      <div class="exp_preview">
        <%= link_to sponsor_path(sponsor) do %>
        <div class="thumb">
          <%= image_tag(sponsor.photo) %>
        </div>
        <span class="name"><%= sponsor.full_name %></span>
        <% end %>
        
        <span class="info"><%= truncate(sponsor.description, separator: '.', length: 140, omission: '.') %></span>
      </div>
      <% if (index+1) % 6 == 0 %>
      <div class="clear"></div>
      <% end %>
    <% end %>
      
      <div class="clear"></div>
    </div>
  </div>
</div>
