<div id="center">
  <div class="pages">
    <div class="common">
<%= render 'shared/post_category_menu' %>
      <h1><%= @sponsor.first_name + " " + @sponsor.last_name %></h1>
      <div class="post_info">
        <div class="thumb">
          <%= image_tag @sponsor.photo.url(:medium) %>
        </div>
        <div class="post_share">
          <div class="title">Делись с друзьями</div>
          <%= render 'shared/share_social' %>
          <div class="clear"></div>
        </div>
      </div>
      <div class="description">
        <%== @sponsor.text %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="clear"></div>
  </div>
</div>
