<% memberships.each do |membership| %>
  <div class="preview_work">
    <div class="info">
      <div class="thumb"><%= link_to image_tag(membership.picture.url(:thumb)), contest_membership_path(membership, contest_id: contest.id) %></div>
      <div class="name"><%= link_to membership.name, contest_membership_path(membership, contest_id: contest.id) %></div>
      <div class="author">Автор: <%= membership.user.name %></div>
      <% if membership.comments_count != 0 %>
        <div class="comments_count"><%= membership.comments_count %></div>
      <% end %>
        <div class="rating_readonly" data-rating="<%= membership.rating %>">Звезды</div>
        <%= render 'vote_count', membership: membership if @contest.ended? %>
    </div>
  </div>
<% end %>
<div class="clear"></div>
