<div class="pages">
  <div class="common">
    <h1><%= @contest.name %><%= favourite_block @contest %></h1>
    <div class="post_category_menu">
      <ul>
        <li><%= link_to "О конкурсе", contest_path(@contest) %></li>
        <li><%= link_to "Правила", url_for("/contests/"+@contest.id.to_s+"/rules") %></li>
        <li class="active"><%= link_to "Конкурсные работы", contest_memberships_path(@contest) %></li>
        <li><%= link_to "Принять участие", new_contest_membership_path(@contest) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="work_list">
      <div class="sorter_wraper">
        <div class="cell">Сортировать по
          <span class="sort_date">
            <%= link_to "дате добавления", '#' %>
          </span>
          <% if @contest.ended? %>,
          <span class="sort_rating">
            <%= link_to "рейтингу", '#' %>
          </span>
          <% end %>
          или
          <span class="sort_comment">
            <%= link_to "количеству комментариев", '#' %>
          </span>
        </div>
      </div>
      <div class="memberships_container">
        <%= render 'memberships_list', memberships: @memberships, contest: @contest %>
      </div>
      <%= paginate @memberships %>
      <div class="clear"></div>
    </div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear"></div>
</div>
