<div class="pages">
  <div class="common">
    <h1><%= @contest.name %> <%= favourite_block @contest %></h1>
    <div class="post_category_menu">
      <ul>
        <li><%= link_to "О конкурсе", contest_path(@contest) %></li>
        <li><%= link_to "Правила", url_for("/contests/"+@contest.id.to_s+"/rules") %></li>
        <li class="active"><%= link_to "Конкурсные работы", contest_memberships_path(@contest) %></li>
        <li><%= link_to "Принять участие", new_contest_membership_path(@contest) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="work_detail">
      <div class="left_part">
        <%= render 'vote_block' %>
        <div class="clear"></div>
        <div class="title"><%= @membership.name %></div>
        <div class="author"><%= @membership.user.name %></div>
        <div class="date"><%= Russian::strftime(@membership.created_at, "%e %B %Y г.")%></div>
        <div class="desc"><%= @membership.description %></div>
      </div>
      <div class="right_part">
        <div class="thumb">
          <%= image_tag @membership.picture.url(:medium) %>
        </div>
        <div id="lightbox_hook" class="hidden">
          <%= link_to '#', @membership.picture.url(:original), class: "light_box_pic", rel: "prettyPhoto[contest_work]" %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="comment treeview">
      <ul>
        <% @comments.each do |comment| %>
          <%= render 'shared/comment', comment: comment %>
        <% end %>
      </ul>
    </div>
    <div class="add_comment">
      <%= render 'shared/comment_form' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="clear"></div>
</div>
