<div class="pages">
  <div class="common">
    <div class="post_category_menu">
      <ul>
        <li><%= link_to "О конкурсе", contest_path(@contest) %></li>
        <li><%= link_to "Правила", url_for("/contests/"+@contest.id.to_s+"/rules") %></li>
        <li class="active"><%= link_to "Конкурсные работы", contest_memberships_path(@contest) %></li>
        <li><%= link_to "Принять участие", new_contest_membership_path(@contest) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="work_detail">
      <div class="left_part">
        <div class="rating_block">
          <span class="name">Рейтинг</span>
          <div class="rating">Звезды</div>
          <span><%= @membership.votes.count %><%= Russian::pluralize(@membership.votes.count, " голос", " голоса", " голосов") %></span>
          <br>
          <a href="">Отменить</a>
        </div>
        <div class="rating_info_start">
          <span class="arrow"></span>
          Возможность голосовать появится
          <br>
          <%= Russian::strftime(@membership.contest.started_at, "%e %B %Y г.")%>
        </div>
        <div class="clear"></div>
        <div class="title"><%= @membership.name %></div>
        <div class="author"><%= @membership.user.name %></div>
        <div class="date"><%= Russian::strftime(@membership.created_at, "%e %B %Y г.")%></div>
        <div class="desc"><%= @membership.description %></div>
      </div>
      <div class="right_part">
        <div class="thumb">
          <%= image_tag @membership.picture.url(:medium) %>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar"></div>
  <div class="clear"></div>
</div>


<!--
<h1><%= link_to @contest.name, @contest %>(<%= @membership.rating %>)</h1>

<h2><%= @membership.name %></h2>
<%= image_tag(@membership.picture.url(:medium)) %>
<h2>Rate:</h2>

<% (1..5).each do |n| %>
  <li><%= link_to n, '#', class: "contest_rate#{n}_link signin_required" %></li>
<% end %>

<p><%= @membership.description %></p>

Комментарии <br />

<div class="comments_list">
  <% @comments.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
</div>

<%= render 'shared/comment_form' %>

<%= content_for :head do %>
  <script>
    var relation = 'ContestMembership';
    var relation_id = <%= @membership.id %>;
    var can_create_comment = <%= can? :create, :comment %>
  </script>
<% end %>

-->
