<%= semantic_form_for [:admin, @activity], html: { multipart: true } do |f| %>
  <%= f.inputs 'Основное' do %>
    <%= f.input :title %>

    <%= f.input :is_educational, as: :select, collection: [['Образовательный', true],['Развлекательный', false]], include_blank: false %>

    <%= f.input :published %>
    <%= f.input :organization, include_blank: false, input_html: { class: 'chosen_autocomplete' } %>
    <%= f.input :phone %>
    <%= f.input :site %>

    <!-- TODO: brrr... aaa -->
    <% if f.object.is_educational.nil? || f.object.is_educational == true %>
      <% tag_method = :educational %>
    <% else  %>
      <% tag_method = :entertainment %>
    <% end %>
    
    <%= f.input :direction_tags, :collection => DirectionTag.send(tag_method), input_html: { size: 6 } %>

    <%= f.input :start_age, as: :select, collection: age_collection(:start), include_blank: false %>
    <%= f.input :end_age, as: :select, collection: age_collection(:end), include_blank: false %>

    <%= f.input :logo, as: :file, hint: f.template.image_tag(f.object.logo.url) %>

    <%= render 'shared/editor_toolbar', element_id: 'activity_description' %>
    <%= f.input :description, input_html: { size: 10 } %>
  <% end %>

  <%= f.inputs "Адрес" do %>
    <%= f.input :metro_station, input_html: { class: 'chosen_autocomplete' } %>
    <%= f.input :region, include_blank: false, input_html: { class: 'chosen_autocomplete' } %>
    <%= f.input :address %>
    <%= f.input :address_dummy %>
    <%= f.input :coords, as: :hidden, input_html: { class: 'hidden_coords'} %>
    <%= f.input :coords, input_html: { class: 'edit_map' }, label: false %>
  <% end %>

  <%= f.inputs "Отзовы" do %>
    <div class="activity_comments">
      <%= f.semantic_fields_for :activity_comments do |activity_comment| %>
        <%= render 'admin/activities/activity_comment_fields', f: activity_comment %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить отзыв', f, :activity_comments,
                                                     'data-association-insertion-method' => 'append',
                                                     'data-association-insertion-node' => '.activity_comments' %>
  <% end %>

  <%= f.inputs "Преподаватели" do %>
    <div class="activity_teachers">
      <%= f.semantic_fields_for :teachers do |teacher| %>
        <%= render 'admin/activities/teacher_fields', f: teacher %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить учителя', f, :teachers,
                                                     'data-association-insertion-method' => 'append',
                                                     'data-association-insertion-node' => '.activity_teachers' %>

    <br /><br /><br />
    
    <%= render 'shared/editor_toolbar', element_id: 'activity_replace_teacher_text' %>
    <%= f.input :replace_teacher_text, input_html: { size: 10 } %>
  <% end %>


  <%= f.inputs "Медиа контент" do %>
    <div class="activity_photos">
      <%= f.semantic_fields_for :photos do |photo| %>
        <%= render 'admin/activities/photo_fields', f: photo %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить фотографию', f, :photos,
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '.activity_photos' %>

    <div class="activity_videos">
      <%= f.semantic_fields_for :videos do |video| %>
        <%= render 'admin/activities/video_fields', f: video %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить ссылку на видео', f, :videos,
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '.activity_videos' %>
  <% end %>

    <%= f.inputs "Дополнительно" do %>


      <%= render 'shared/editor_toolbar', element_id: 'activity_additional_information' %>
      <%= f.input :additional_information, input_html: { size: 10 } %>

      <%= render 'shared/editor_toolbar', element_id: 'activity_parent_activities' %>
      <%= f.input :parent_activities, input_html: { size: 10 } %>

      <%= render 'shared/editor_toolbar', element_id: 'activity_cost' %>
      <%= f.input :cost, input_html: { size: 10 } %>
    <% end %>

    <%= f.inputs 'Расписание' do %>
      <ul class="schedule_days">
        <% Activity::SCHEDULE_DAYS.each do |day| %>
          <li data-day-name="<%= day %>">
            <%= link_to day, '#', class: :schedule_day_link %>
          </li>
          <%= f.hidden_field day %>
        <% end %>
      </ul>
    <% end %>
    
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
