<%= semantic_form_for [:admin, @activity], html: { multipart: true } do |f| %>
  <%= f.inputs 'Основное' do %>
    <%= f.input :title %>
    <%= f.input :organization %>

    <%= render 'shared/editor_toolbar', element_id: 'activity_description' %>
    <%= f.input :description, input_html: { size: 10 } %>
  <% end %>

  <%= f.inputs "Адрес" do %>
    <%= f.input :metro_station, as: :select, collection: MetroStation.all %>
    <%= f.input :region, as: :select, collection: Region.all, include_blank: false %>
    <%= f.input :address %>
    <%= f.input :coords, as: :hidden, input_html: { class: 'hidden_coords'} %>
    <%= f.input :coords, input_html: { class: 'edit_map' }, label: false %>
  <% end %>

  <%= f.inputs "Отзовы" do %>
    <div class="activity_comments">
      <%= f.semantic_fields_for :activity_comments do |activity_comment| %>
        <%= render 'admin/activities/activity_comment_fields', f: activity_comment %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить отзыв', f, :activity_comments,
                                                     'data-association-insertion-method' => 'append',
                                                     'data-association-insertion-node' => '.activity_comments' %>
  <% end %>

  <%= f.inputs "Преподователи" do %>
    <div class="activity_teachers">
      <%= f.semantic_fields_for :teachers do |teacher| %>
        <%= render 'admin/activities/teacher_fields', f: teacher %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить учителя', f, :teachers,
                                                     'data-association-insertion-method' => 'append',
                                                     'data-association-insertion-node' => '.activity_teachers' %>

    <br /><br /><br />
    
    <%= render 'shared/editor_toolbar', element_id: 'activity_replace_teacher_text' %>
    <%= f.input :replace_teacher_text, input_html: { size: 10 } %>
  <% end %>


  <%= f.inputs "Медиа контент" do %>
    <div class="activity_photos">
      <%= f.semantic_fields_for :photos do |photo| %>
        <%= render 'admin/activities/photo_fields', f: photo %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить фотографию', f, :photos,
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '.activity_photos' %>

    <div class="activity_videos">
      <%= f.semantic_fields_for :videos do |video| %>
        <%= render 'admin/activities/video_fields', f: video %>
      <% end %>
    </div>
    <%= link_to_add_association 'Добавить ссылку на видео', f, :videos,
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '.activity_videos' %>
  <% end %>

    <%= f.inputs "Дополнительно" do %>


      <%= render 'shared/editor_toolbar', element_id: 'activity_additional_information' %>
      <%= f.input :additional_information, input_html: { size: 10 } %>

      <%= render 'shared/editor_toolbar', element_id: 'activity_parent_activities' %>
      <%= f.input :parent_activities, input_html: { size: 10 } %>

      <%= render 'shared/editor_toolbar', element_id: 'activity_cost' %>
      <%= f.input :cost, input_html: { size: 10 } %>
    <% end %>

    <%= f.inputs 'Расписание' do %>
      <ul>
        <% Activity::SCHEDULE_DAYS.each do |day| %>
          <li data-day-name="<%= day %>">
            <%= link_to day, '#', class: :schedule_day_link %>
          </li>
          <%= f.hidden_field day %>
        <% end %>
      </ul>
    <% end %>
    
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
