<% @body_class="promo" %>

<%= link_to image_tag('promo/goto-site.png'), root_path, id: 'bri-goto-site' %>

<div id="bri-main">

  <div id="bri-main-preloader"></div>

  <div class="bri-wrapper">

    <div id="bri-fest-title"></div>
    <div id="bri-find-me">
      <%= link_to image_tag('promo/index/find-me.png'), photos_clock_path, class: 'bri-nav' %>
      <div class="bri-photo-archive">Фотографии обновляются каждый день<br />Полный архив фотографий вы можете увидеть в пятницу <br />24 августа</div>
    </div>
    <%= link_to image_tag('promo/index/fest.png'), photos_festival_path, class: 'bri-nav', id: 'bri-fest' %>

    <div id="bri-letters">
      <%= image_tag 'promo/index/letters/ya.png',    id: 'bri-letters-ya' %>
      <%= image_tag 'promo/index/letters/r.png',     id: 'bri-letters-r' %>
      <%= image_tag 'promo/index/letters/k.png',     id: 'bri-letters-k' %>
      <%= image_tag 'promo/index/letters/i.png',     id: 'bri-letters-i' %>
      <%= image_tag 'promo/index/letters/e.png',     id: 'bri-letters-e' %>
      <%= image_tag 'promo/index/letters/l.png',     id: 'bri-letters-l' %>
      <%= image_tag 'promo/index/letters/yu.png',    id: 'bri-letters-yu' %>
      <%= image_tag 'promo/index/letters/d.png',     id: 'bri-letters-d' %>
      <%= image_tag 'promo/index/letters/i2.png',    id: 'bri-letters-i2' %>
      <%= image_tag 'promo/index/letters/exclm.png', id: 'bri-letters-exclm' %>
    </div>

    <!-- Don't forget to remove test data -->
    <% GalleryPhoto.published.sample(12).each_with_index do |photo, index| %>
      <%= image_tag photo.photo, class: 'bri-photo', id: "bri-photo-#{index + 1}" %>
    <% end %>


  </div>
</div>

<script>$(document).ready(function(){ promo() })</script>
