<div class="title_block">О кружке</div>
<div><%= simple_format @activity.description %></div>

<div class="dop_info">
  <span class="dop_title">Стоимость и длительность</span>
  <%= simple_format @activity.cost %>
</div>
<div class="dop_info">
  <span class="dop_title">Чем заняться родителю</span>
  <%= simple_format @activity.parent_activities %>
</div>
<div class="dop_info">
  <span class="dop_title">Дополнительно</span>
  <%= simple_format activity.additional_information %>
</div>
<div class="clear"></div>

<div class="title_block">Расписание занятий</div>
<div class="schedule">
  <table>
    <thead>
      <tr>
        <th class="first">Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th class="last">Вс</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td class="work_time">20:30—21:30</td>
        <td class="work_time">20:30—21:30</td>
        <td></td>
        <td></td>
        <td class="work_time">20:30—21:30</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="work_time">20:30—21:30</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="work_time">20:30—21:30</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<% if activity.teachers.present? %>
  <div class="title_block">Здесь работают</div>
  <div id="ruk_slider">
    <div class="slides_container">
      <% activity.teachers.each do |teacher| %>
        <div class="slide">
          <div class="thumb">
            <span class="mask"></span>
            <%= image_tag teacher.photo.url %>
          </div>
          <div class="info">
            <div class="name"><%= teacher.name %></div>
            <%= teacher.description %>
          </div>
        </div>
      <% end %>
    </div>
    <a href="" class="next">Вперед</a>
    <a href="" class="prev">Назад</a>
  </div>
<% end %>
