<% activities.each do |activity| %>
  <% if activity.approved? %>
    <div class="preview_catalog approved">
      <div class="thumb">
        <%= link_to image_tag(activity.logo.url), "#" %>
      </div>
      <div class="info">
        <span class="flag">Одобрено экспертом</span>
        <% if activity.participant? %>
          <div class="mark"><span class="arrow"></span>Участник фестиваля-2012!</div>
        <% end %>
        <div class="name">
          <%= link_to activity.title, "#" %>
        </div>
        Детям <%= activity.age %> лет<br />
        Учреждение: <%= activity.organization.title %>
        <div class="rating readonly" data-rating="<%= activity.users_rating %>"></div>
      </div>
    </div>
  <% else %>
    <div class="preview_catalog">
      <div class="thumb">
        <%= link_to image_tag(activity.logo.url), activity_path(activity) %>
      </div>
      <div class="info">
        <% if activity.participant? %>
          <div class="mark"><span class="arrow"></span>Участник фестиваля-2012!</div>
        <% end %>
        <div class="name">
          <%= link_to activity.title, activity_path(activity) %>
        </div>
        Детям <%= activity.age %> лет<br />
        Учреждение: <%= activity.organization.title %>
        <div class="rating readonly" data-rating="<%= activity.users_rating %>"></div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="clear"></div>

<div class="pager">
  <ul>
    <li><a href="">1</a></li>
    <li><a href="">22</a></li>
  </ul>
</div>

<script type="text/javascript">
  var params = "<%= @params.to_json %>";
</script>
