<% activities.each do |activity| %>
  <% if activity.approved? %>
    <div class="preview_catalog approved">
      <div class="thumb">
        <%= link_to image_tag(activity.logo.url(:approved)), activity_path(activity) %>
      </div>
      <div class="info">
        <span class="flag">Одобрено экспертом</span>
        <% if activity.participant? %>
          <div class="mark"><span class="arrow"></span>Участник фестиваля-2012!</div>
        <% end %>
        <div class="name">
          <%= link_to activity.title, activity_path(activity) %>
        </div>
        <div class="short_desc">
        Детям <%= activity.age %> лет<br />
        <span class="domik"><%= link_to activity.organization.title, activity.organization %></span>
        </div>
        
        <div class="rating_readonly" data-rating="<%= activity.users_rating %>"></div>
      </div>
      
      <div class="dop_info">
          <div class="thumb">
            <%= image_tag activity.expert.avatar.url(:approval) %>
          </div>
          <div class="expert_name">
            <%= activity.expert.name %>:
          </div>
          <div class="expert_opinion">
            "<%= truncate(activity.approval.text, length: 60, separator: ' ') %>"
          </div>
        </div>
      
    </div>
  <% else %>
    <div class="preview_catalog">
      <div class="thumb">
        <%= link_to image_tag(activity.logo.url(:index)), activity_path(activity) %>
      </div>
      <div class="info">
        <% if activity.participant? %>
          <div class="mark"><span class="arrow"></span>Участник фестиваля-2012!</div>
        <% end %>
        <div class="name">
          <%= link_to activity.title, activity_path(activity) %>
        </div>
        <div class="short_desc">
        Детям <%= activity.age %> лет<br />
        <span class="domik"><%= link_to activity.organization.title, activity.organization %></span>
        </div>
        <div class="rating_readonly" data-rating="<%= activity.users_rating %>"></div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="clear"></div>

<div class="pager">
</div>

