<%= form_tag activities_path, method: :get, remote: true, id: :remote_form do %>
  <%= hidden_field_tag :order_by, 'created_at', id: :order_by %>
  <div class="filter_sorter">
    <div class="filter_wraper">
      <div class="cell">
        <strong>По возрасту</strong>
        <ul>
          <% AgeTag.all.each do |age_tag| %>
            <li>
              <%= check_box_tag "age[]", age_tag.id, false, id: (dom_id age_tag), class: :remote_action %>
              <span class="sim_check"></span>
              <%= label_tag (dom_id age_tag), age_tag.title, class: :hidden_checkbox %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="cell">
        <strong>По категории</strong>
        <ul>
          <% @directions.each do |tag| %>
            <li>
              <%= check_box_tag "tag[]", tag.id, false, id: (dom_id tag), class: :remote_action %>
              <span class="sim_check"></span>
              <%= label_tag (dom_id tag), tag.name, class: :hidden_checkbox %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="cell">
        <strong>По округу</strong>
        <ul>
          <% Region.all.each do |region| %>
            <li>
              <%= check_box_tag "region[]", region.id, false, id: (dom_id region), class: :remote_action %>
              <span class="sim_check"></span>
              <%= label_tag (dom_id region), region.title, class: :hidden_checkbox %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="cell">
        <strong>Ближайшая станция метро</strong>
        <%= select_tag 'metro_faker_select', options_from_collection_for_select(MetroStation.all, :id, :title),
            id: :select_metro, prompt: 'Выберите метро' %>

        <div><select id="metro" multiple="multiple" name="metro[]"></select></div>

        Вы выбрали:
        <div class="selected_metro">
        </div>

      </div>
      <div class="cell">
        <strong>Где вы?</strong>

        <a id="clear_map" class="clear_link" href="">Сбросить</a>
        <div class="clear_block">
          <a id="clear_all_options" href="">Сбросить все</a>
        </div>

      </div>
      <div class="clear"></div>
    </div>
    <div class="sorter_wraper">
      <div class="cell">
        Сортировать по
        <span class="sort_name">
          <%= link_to "названию", '#', :class => 'order_by', 'data-order' => 'title' %>
        </span>,
        <span class="sort_date">
          <%= link_to "дате добавления", "#", :class => 'order_by', 'data-order' => 'created_at' %>
        </span> или
        <span class="sort_rating">
          <%= link_to "рейтингу", "#", :class => 'order_by', 'data-order' => 'users_rating' %>
        </span>
      </div>
      <div class="cell">
        <%= check_box_tag :only_approved, '1', false, class: :remote_action %>
        <span class="sim_check"></span>
        <%= label_tag 'only_approved', 'Только одобренные', class: :hidden_checkbox %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
  $(".filter_sorter li label").live('click',function(){
  var idCheck = $(this).attr("for");

  if($('#'+idCheck).attr('checked')){
  $(this).prev("span").removeClass("active");
  } else {
  $(this).prev("span").addClass("active");
  }
  });
  });
</script>
