<%= form_tag activities_path(kind: @kind), method: :get, remote: true, id: :remote_form do %>
  <%= hidden_field_tag :order_by, 'created_at', id: :order_by %>
  <div class="filter_sorter">
    <div class="filter_wraper">
      <h1>Детские студии Москвы</h1>
      <div class="cell">
	<strong>По возрасту</strong>
	<ul>
	  <% search_ages.each do |age| %>
	    <li>
	      <%= check_box_tag "age[]", age[1], false, id: "age_#{age[1]}", class: :remote_action %>
	      <%= label_tag "age_#{age[1]}", class: :hidden_checkbox do %>
		<span class="sim_check"></span> <%= age[0] %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>
      </div>
      <div class="cell">
	<strong>По категории</strong>
	<ul>
	  <% @directions.each do |tag| %>
	    <li>
	      <%= check_box_tag "tag[]", tag.id, (params[:tag] and tag.id.to_s.in? params[:tag]),
		  id: (dom_id tag), class: :remote_action %>
	      <%= label_tag (dom_id tag), class: :hidden_checkbox do %>
		<span class="sim_check"></span> <%= tag.name %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>
      </div>
      <div class="cell">
	<strong>По округу</strong>
	<ul>
	  <% Region.all.each do |region| %>
	    <li>
	      <%= check_box_tag "region[]", region.id, false, id: (dom_id region), class: :remote_action %>
	      <%= label_tag (dom_id region), region.title, class: :hidden_checkbox do %>
		<span class="sim_check"></span> <%= region.title %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>
      </div>
      <div class="cell">
	<div class="clear_block">
	  <a id="clear_all_options" href="">Сбросить все</a>
	</div>
      </div>
    </div>
  </div>
<% end %>
