<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">1</span>
    <span class="title">Основная информация о кружке</span>
  </div>

  <div class="item width50">
    1. Название
    <input type="text" placeholder="Название">
  </div>
  <div class="item width50">
    2. Организация/центр/учреждение
    <select>
      <option>Центр</option>
    </select>
  </div>
  <div class="clear"></div>

  <div class="item width25">
    3. Тип кружка
    <select>
      <option>Образовательный</option>
    </select>
  </div>
  <div class="item width25">
    4. Категория
    <select>
      <option>Для самых маленьких</option>
    </select>
  </div>
  <div class="item width25">
    5. Для детей от...
    <select>
      <option>От 25 лет</option>
    </select>
  </div>
  <div class="item width25">
    6. ... и до      
    <select>
      <option>25 лет</option>
    </select>
  </div>
  <div class="clear"></div>

  <div class="item width50">
    7. Телефон
    <input type="text" placeholder="Телефон">
  </div>
  <div class="item width50">
    8. Сайт <span>вот так (http://www.adres.ru)</span>
    <input type="text" value="http://www.">
  </div>
  <div class="clear"></div>

  <div class="item width25">
    9. Загрузка логотипа
    <div class="download_button_wrapper">
      <span class="mask_button">Выберите файл!</span>
      <input type="file" name="image">
    </div>
    <div class="images">
      <div class="image">
        <div class="circle-delete"></div>
        <img src="/assets/nikolashin.png">
      </div>
    </div>
  </div>
  <div class="item width75">
    10. Описание
    <textarea>sdasdas</textarea>
  </div>   
  <div class="clear"></div>
    
</div>

<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">2</span>
    <span class="title">Расположение</span>
  </div>
  
  <div class="item width50">
    1. Станция метро <span class="hint">(начните вводить, мы подскажем)</span>
    <div class="subway_icon"></div>
    <input type="text" name="" class="subway" value="Комсомольская" placeholder="Станция метро">
  </div>
  <div class="item width50">
    2. Округ
    <select name="">
      <option>Центр</option>
    </select>
  </div>
  <div class="clear"></div>
  
  <div class="item">
    3. Полный адрес
    <input type="text" name="" placeholder="Полный адрес" value="Центр">
  </div>
  
  <div class="item">
    4. На карте<br><br>
    тут надо запилить Яндекс-карту (ее все равно не видно на локалхосте) :) =***
  </div>
  
</div>

<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">3</span>
    <span class="title">Преподаватели</span>
  </div>
  
  <div class="item list">
    
    <div class="item width50">
      1. Имя
      <input type="text" name="" placeholder="Имя" value="Название">
      <br>
      2. Биография
      <textarea name="">sdsfdfsdfasfd';s</textarea>
    </div>
    <div class="item width50">
      3. Портрет
      <div class="download_button_wrapper">
        <span class="mask_button">Выберите фото!</span>
        <input type="file" name="image">
      </div>
      <div class="images">
        <div class="image">
          <div class="circle-delete"></div>
          <img src="/assets/nikolashin.png">
        </div>
      </div>
    </div>
    <div class="item width50">
    </div>    
    <div class="clear"></div>
    
  </div>
  <div class="button_edit">
    <button class="delete">Удалить преподавателя</button>
    <button class="add">Добавить еще одного преподавателя</button>
    <div class="clear"></div>
  </div>
  
</div>

<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">4</span>
    <span class="title">Дополнительная информация</span>
  </div>
  
  <div class="item width33">
    1. Стоимость и длительность
    <textarea name="">dlkndkjzdfoknd</textarea>
  </div>
  <div class="item width33">
    2. Чем заняться родителю
    <textarea name="">dlkndkjzdfoknd</textarea>
  </div>
  <div class="item width33">
    3. Дополнительно
    <textarea name="">dlkndkjzdfoknd</textarea>
  </div>
  <div class="clear"></div>
  
</div>

<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">5</span>
    <span class="title">Время проведения занятий</span>
  </div>
  
  <div id="activity-edit-shadow" style="display: none"></div>
  <div id="activity-edit-modal" style="display: none">
    <table>
    <tr>
      <td>Начало:</td>
      <td>
        <%# Somebody please fix it :) %>
        <select id="activity-edit-schedule-start" class="hour">
          <% (0..23).each do |hour| %>
          <option><%= "%02d" % hour %></option>
          <% end %>
        </select>
        :
        <select id="activity-edit-schedule-start" class="minute">
          <% (0..59).each do |minute| %>
          <option><%= "%02d" % minute %></option>
          <% end %>
        </select>       
      </td>
    </tr>
    <tr>
      <td>Конец:</td>
      <td>
        <select id="activity-edit-schedule-end" class="hour">
          <% (0..24).each do |hour| %>
          <option><%= "%02d" % hour %></option>
          <% end %>
        </select>
        :
        <select id="activity-edit-schedule-end" class="minute">
          <% (0..59).each do |minute| %>
          <option><%= "%02d" % minute %></option>
          <% end %>
        </select>
      </td>
    </tr>
    </table>
    <button id="activity-edit-ok">OK</button>
  </div>
  
  <table class="item schedule" id="activity-edit-schedule">
    <thead>
      <% ['Пн','Вт','Ср','Чт','Пт','Сб','Вс'].each do |weekday| %>
      <th><%= weekday %></th>
      <% end %>
    </thead>
    <tbody>
      <tr>
        <% (0..6).each do |weekday| %>
        <td data-day="<%= weekday %>">
          <div class="data"></div>
          <div class="add">+добавить</div>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  
</div>

<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">6</span>
    <span class="title">Галерея</span>
  </div>
  
  <div class="item gallery">
    <p>Фотографии</p>
      <div class="images">
        <div class="image">
          <div class="circle-delete"></div>
          <img src="/assets/nikolashin.png">
        </div>
        <div class="image">
          <div class="circle-delete"></div>
          <img src="/assets/nikolashin.png">
        </div>
        <div class="image">
          <div class="circle-delete"></div>
          <img src="/assets/nikolashin.png">
        </div>
        <div class="clear"></div>
      </div>
    <div class="download_button_wrapper">
      <span class="mask_button">Выбрать изображение</span>
      <input type="file" name="image">
    </div>
    <p>Видео</p>
    <input type="url" name="" placeholder="Скопируйте сюда ссылку на ролик">
    <button type="button">Добавить</button>
    <ol id="">
      <li>
        <div>
          <div class="circle-delete"></div>
          http://youtube.com/ololo
        </div>
      </li>
      <li>
        <div>
          <div class="circle-delete"></div>
          http://youtube.com/ololo
        </div>
      </li>
    </ol>
  </div>
  
</div>

<div class="activity_edit_block">
  
  <div class="header">
    <span class="circle">7</span>
    <span class="title">Отзывы</span>
  </div>
  
  <div class="item list">
    
    <div class="item width50">
      1. Комментатор
      <input type="text" name="" value="Такой-то">
    </div>
    <div class="item width50">
      2. Это родитель или ребенок?
      <select name="">
        <option>Родитель</option>
      </select>
    </div>
    <div class="clear"></div>
    
    <div class="item width50">
      3. Отзыв
      <textarea name="">fjkfhjgbshudfbshf</textarea>
    </div>    
    <div class="item width50">
      4. Портрет      
      <div class="download_button_wrapper">
        <span class="mask_button">Выберите фото!</span>
        <input type="file" name="image">
      </div>
      <div class="images">
        <div class="image">
          <div class="circle-delete"></div>
          <img src="/assets/nikolashin.png">
        </div>
      </div>
    </div>
    <div class="clear"></div>
    
  </div>
  <div class="button_edit">
    <button class="delete">Удалить отзыв</button>
    <button class="add">Добавить еще один отзыв</button>
    <div class="clear"></div>
  </div>
  
</div>

<div class="save">
  <button>Сохранить</button>
</div>
<%#= form_for(@activity) do |f| %>
  <%#= f.label :title %><%#= f.text_field :title %><br>
  <%#= f.label :address %><%#= f.text_field :address %><br>
  <%#= f.label :description %><%#= f.text_area :description %><br>
  <%#= f.label :logo %><%#= f.file_field :logo %><br>
  <%#= f.submit %>
<%# end %>
