<% content_for :title do %>
  Фестиваль Яркие Люди | Кружки и Студии | <%= @activity.title %>
<% end %>

<%= render 'activities/approve_dialog', activity: @activity %>

<div class="pages">

  <div class="common">

    <div class="detail_page">

      <h1><%= @activity.title %>
	<%= favourite_block @activity %>
	<% if @activity.participant? %>
	  <span class="mark">Участник фестиваля!</span>
	<% end %>
      </h1>

      <div class="base">На базе учреждения: <%= link_to @activity.organization.title, organization_path(@activity.organization) %></div>
      <div class="cat_list">
	Категории:
	<% @activity.direction_tags.each do |tag| %>
	  <%= link_to tag.name, activities_path(tag: tag.id) %>
	<% end %>
      </div>

      <div class="left_part">
	<%= render 'approved' %>

	<div class="age_block">
	  <span class="name">Возраст<br />детей</span><br />
	  <span class="age">от <%= t(:age, :count => @activity.start_age) %></span>
	</div>


	<div class="rating_block">
	  <span class="name">Рейтинг родителей</span>
    <div class="rating"
         data-rating="<%= @activity.users_rating %>"
         data-activity-id="<%= @activity.id %>"
         data-lock=<%= not can?(:vote, @activity) %>
         data-already-vote=<%= current_user and current_user.already_vote?(@activity) %>>Звезды</div>
    <%= render 'vote_count' %><br />
	  <a href="#" class="cancel_rating <%= 'hidden' if (current_user ? !current_user.already_vote?(@activity) : true) %>">Изменить</a>
	</div>
	<div class="clear"></div>

	<div class="info_block">
	  <table>
	    <% unless @activity.metro_station.blank? %>
	      <tr>
		    <th><span>Метро</span></th>
		    <td><%#= image_tag @activity.metro_station.metro_branch.icon.url %><%= @activity.metro_station.title %><br />
	      </tr>
	    <% end %>
      <% unless @activity.region.title.blank? %>
	    <tr>
	      <th><span>Округ</span></th>
	      <td><%= @activity.region.title %><br />
	    </tr>
      <% end %>
      <% first = true %>
      <% unless @activity.address.blank? %>
        <% @activity.address.split(/; |;/).each do |addr| %>
          <tr>
            <th><span>Адрес</span></th>
            <td><div class="activ_address"><%= y_link((first ? @activity.coords : nil), addr) %></div></td>
             <% if first then first = false end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <th><span>Адрес</span></th>
          <td><div class="activ_address"><%= @activity.address_dummy %></div></td>
        </tr>
      <% end %>
      <% unless @activity.site.blank? %>
	    <tr>
	      <th><span>Сайт</span></th>
	      <td ><div class="activ_site"><a href=<%= @activity.site %> target="_blank" ><span class="mask"></span><%= @activity.site %></a></div></td>
	    </tr>
      <% end %>
      <% unless @activity.phone.blank? %>
	    <tr>
	      <th><span>Телефон</span></th>
	      <td><%= @activity.phone %></td>
	    </tr>
      <% end %>
	  </table>
	</div>
      </div>

      <div class="right_part">
        <div class="pikachoose">
        <% if @activity.photos.count == 1 %>
          <div class="mask"></div>
          <%= link_to image_tag(@activity.photos.last.attach.url(:slider)), '#' %>
        <% elsif  @activity.photos.count > 1 %>
          <div class="mask"></div>
          <ul id="pikame" class="jcarousel-skin-pika">
          <% @activity.photos.each do |photo| %>
            <li><%= link_to image_tag(photo.attach.url(:slider), 'data-hook-class' => "photo#{photo.id}") %></li>
          <% end %>
          <% @activity.videos.each do |video| %>
            <li class="slideshow_video_item"><div class="video"></div><%= link_to image_tag(video.preview_url, 'data-hook-class' => "video#{video.id} ", 'style' => 'width:530px') %></li>
          <% end %>
          </ul>
        <% end %>
        </div>
        <div id="lightbox_hook" class="hidden">
          <% @activity.photos.each do |photo| %>
            <%= link_to '#', photo.attach.url(:original), class: "photo#{photo.id}", rel: "prettyPhoto[activity]" %>
          <% end %>
          <% @activity.videos.each do |video| %>
            <%= link_to '#', video.url, class: "video#{video.id}", rel: "prettyPhoto[activity]" %>
          <% end %>
        </div>
      </div>
      
      <div class="clear"></div>

      <div class="title_block">О кружке</div>
      <div><%= simple_format @activity.description %></div>

      <% if @activity.is_edu? %>
	<%= render 'about_activity', activity: @activity %>
      <% end %>

      <% if @activity.activity_comments.parents.present? %>
	<div class="title_block">Отзывы родителей</div>
	<div class="comment">
	  <ul class="parent_comment">
	    <%= render 'activity_comment', comments: @activity.activity_comments.parents.first(5) %>
	  </ul>

	  <% if @activity.activity_comments.parents.count > 5 %>
	    <div class="more_comment">
	      <a href="#" data-type="parents" data-page="1" class="load_comments">Загрузить еще 5 отзывов</a>
	    </div>
	  <% end %>

	</div>
      <% end %>


      <% if @activity.activity_comments.childrens.present? %>
	<div class="title_block">Отзывы детей</div>
	<div class="comment">
	  <ul class="children_comment">
	    <%= render 'activity_comment', comments: @activity.activity_comments.childrens.first(5) %>
	  </ul>

	  <% if @activity.activity_comments.childrens.count > 5 %>
	    <div class="more_comment">
	      <a href="#" data-type="childrens" data-page="1" class="load_comments">Загрузить еще 5 отзывов</a>
	    </div>
	  <% end %>
	</div>
      <% end %>

    </div>
    <div class="share_block">
      <div class="title">Делись с друзьями</div>
      <%= render 'shared/share_social' %>
      <div class="clear"></div>
    </div>
  </div>

  <div class="sidebar">
    <% if @activity.approved? %>
      <% expert = @activity.expert %>
      <div class="expert_opinion">
	<div class="title">Мнение эксперта</div>
	<%= link_to('Редактировать', edit_admin_activity_approval_path(@activity.approval), target: '_blank') if current_admin_user %>
	<div class="thumb"><span class="mark"><%= expert.activity_approvals.count %></span><%= link_to image_tag(expert.avatar.url), expert_path(expert) %></div>
	<div class="name"><%= expert.name %></div>
	<div class="info"><%= expert.description %></div>
	<div class="quote">
	  <%= @activity.approval.text %>
	</div>
      </div>
    <% end %>


    <div class="alongside">
      <div class="title">Еще места рядом</div>
      <ul>
	<% @activity.place_near.each do |activity| %>
	  <li>
	    <span class="thumb"><%= link_to image_tag(activity.logo.url), activity_path(activity) %></span>
	    <span class="name"><%= link_to activity.title, activity_path(activity) %></span>
	    <span class="geo"><%= activity.region.title %></span>
	  </li>
	<% end %>
      </ul>
    </div>

  </div>
  <div class="clear"></div>
</div>
