<h1><%= @activity.title %></h1>
<% if @activity.organization %>
<h2><%= link_to @activity.organization.title, @activity.organization %></h2>
<% end %>
<p><%= @activity.description %></p>
<% @activity.teachers.each do |teacher| %>
  <br>
  <%= image_tag teacher.photo.url(:thumb) %>
  <%= teacher.name %>
  <%= teacher.description %>
<% end %>

<%=raw @activity.additional_information %>
<%=raw @activity.parent_activities %>
