<h1>Личное пространство</h1>
Здесь мы храним для вас все ваши комментарии, избранные страницы и прочее

<div class="post_category_menu">
  <ul>
    <%= content_tag :li, link_to("Профиль", dashboard_profile_path),
	class: "profile_ico#{(current == 'profile' ? ' active' : '')}" %>
    <%= content_tag :li, link_to("Комментарии", dashboard_comments_path),
	class: "comment_ico#{(current == 'comments' ? ' active' : '')}" %>
    <%= content_tag :li, link_to("Избранное", dashboard_favorites_path),
	class: "fav_ico#{(current == 'favourites' ? ' active' : '')}" %>
    <% if can? :manage, :dashboard_activity %>
      <%= content_tag :li, link_to("Кружок", dashboard_activity_path),
	  class: "activity_ico#{(current == 'activity' ? ' active' : '')}" %>
    <% end %>
    <% if can? :manage, :dashboard_photos %>
      <%= content_tag :li, link_to('Загрузка фотографий', dashboard_photos_path),
	  class: "activity_ico#{(current == 'photo' ? ' active' : '')}" %>
      <%= content_tag :li, link_to('Мои фотографии', my_photos_dashboard_photos_path),
    class: "activity_ico#{(current == 'my_photos' ? ' active' : '')}" %>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
