<!DOCTYPE html>
<html>
<head>
  <title>BrightPeople</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="hidden">
    <%= render 'shared/email_form' %>
  </div>

<%= yield %>

</body>
</html>
