<!DOCTYPE html>
<html>
  <head>
    <title>BrightPeople</title>
    <%= yield :head %>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <%== yield(:body).present? ? yield(:body) : '<body>' %>
    <div id="wrapper">
      <div id="header">
        <%= render partial: 'shared/header' %>
      </div>

      <%= yield(:before_center) %>
      
      <div id="center">
        <%= yield %>
      </div>

      <div id="footer">
        <%= render partial: 'shared/footer' %>
      </div>

    </div>
  </body>
</html>
