<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).present? ? yield(:title) : 'Фестиваль Яркие Люди' %></title>
    <%= yield :before_head %>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= yield :after_head %>
    <%= yield :vk_data %>
    <%= csrf_meta_tags %>
  </head>
  <%== yield(:body).present? ? yield(:body) : '<body>' %>
    <div id="wrapper">
      <div id="header">
	<%= flash_messages %>
        <%= render partial: 'shared/header' %>
      </div>

      <% if current_user and current_user.email.blank? %>
        <%= render 'users/email_dialog', user: current_user %>
      <% end %>
      <%= render 'users/register_dialog' unless current_user %>
      
      <%= yield(:before_center) %>
      
      <div id="center">
        <%= yield %>
      </div>

      <div id="footer">
        <%= render partial: 'shared/footer' %>
      </div>

    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32745172-1']);
      _gaq.push(['_setDomainName', 'bright-people.ru']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
