<!DOCTYPE html>
<html>
<head>
  <title>BrightPeople</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= flash_messages %>

  <div class="hidden">
    <div id="email_dialog">
      <%= render 'users/email_form', user: User.new %>
    </div>
  </div>

  <div class="header">
    <%= render partial: 'shared/header' %>
  </div>

  <%= yield %>

</body>
</html>
