<!DOCTYPE html>
<html class="<%= @body_class %>">
  <head>
    <title><%= yield(:title).present? ? yield(:title) : 'Фестиваль Яркие Люди' %></title>
    <%= yield :before_head %>
    <%= stylesheet_link_tag 'promo/application', :media => "all" %>
    <%= javascript_include_tag 'promo/application' %>
    <%= yield :after_head %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @body_class %>">
    <%= render  'shared/social_libs' %>

    <%= link_to image_tag('promo/goto-site.png'), main_page_path, id: 'bri-goto-site' %>
    
    <%= yield %>
    
    <footer class="<%= @body_class %>">
      <div class="bri-links">
        <div class="bri-news left">
          <span class="left">Читайте<br>яркие новости</span>
          <%= link_to image_tag('promo/index/fb.png'), 'http://www.facebook.com/festivalyarkieludi', target: '_blank' %>
          <%= link_to image_tag('promo/index/vk.png'), 'http://vk.com/yarkieludifestival', target: '_blank' %>
        </div>

        <div class="bri-videos">
          <span class="left">Смотрите<br>яркие ролики</span>
          <%= link_to image_tag('promo/index/yt.png'), 'http://www.youtube.com/user/yarkielyudi', target: '_blank' %>
        </div>

      </div>

      <div class="bri-credentials">

        <div class="bri-organizator">
          Организатор фестиваля<br>
          +7 (495) 640-91-21 • <a href="mailto:info@bright-people.ru">info@bright-people.ru</a>
        </div>

        <div class="bri-support">
          PR-поддержка<br>
          +7 (495) 640-42-34 • <a href="mailto:info@massovet.ru">info@massovet.ru</a>
        </div>

        <div class="bri-bank"></div>

        <div class="bri-shield">
          При поддержке<br>
          Правительства<br>
          Москвы
        </div>

      </div>

    </footer>


    <script type="text/javascript">
      <!-- GAQ -->
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32745172-1']);
      _gaq.push(['_setDomainName', 'bright-people.ru']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
