<% content_for :title do %>
  Фестиваль Яркие Люди | Экспертный Совет
<% end %>

<div class="pages">
  <div class="expert_list_wrapper">
  <%= render 'title' %>
    <div class="expert_list">
      
    <% @experts.each do |expert| %>
      <div class="exp_preview">
        <% if expert.approvals_count != 0 %>
        <span class="mark"><%= expert.approvals_count %></span>
        <% end %>
        
        <%= link_to expert_path(expert) do %>
        <div class="thumb">
          <%= image_tag(expert.avatar) %>
        </div>
        <span class="name"><%= expert.name %></span>
        <% end %>
        
        <span class="info"><%= expert.description %></span>
      </div>
    <% end %>
      
      <div class="clear"></div>
    </div>
  </div>
</div>
