<div class="pages">
  
  
  <div class="expert_list_wrapper">
  <%= render 'title' %>
    <div class="expert_list">
      
    <% @experts.each do |expert| %>
      <div class="exp_preview">
        <% if expert.approvals_count != 0 %>
        <span class="mark"><%= expert.approvals_count %></span>
        <% end %>
        <div class="thumb">
          <%= link_to image_tag(expert.avatar), expert_path(expert) %>
        </div>
        <span class="name"><%= link_to expert.name, expert_path(expert) %></span>
        <span class="info"><%= expert.description %></span>
      </div>
    <% end %>
      
      <div class="clear"></div>
    </div>
  </div>
</div>