<% content_for :title do %>
  Фестиваль Яркие Люди | Экспертный Совет | <%= @expert.name %>
<% end %>
<div class="pages">
    <div class="post_category_menu">
    <ul>
      <li class="experts_ico active"><a href="/experts">Экспертный совет</a></li>
      <li class="sponsors_ico"><a href="/sponsors">Попечительский совет</a></li>
      <li class="crew_ico"><a href="">Команда сайта???</a></li>
      <li class="authors_ico"><a href="">Все авторы???</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="expert_nav">
    <% if @prev = @expert.prev_expert %>
    <div class="prev_exp" data-url="<%= expert_path(@prev) %>">
      <div class="exp_cell">
        <div class="thumb">
          <%= link_to image_tag(@prev.avatar), expert_path(@prev) %>
        </div>
        <div class="name">
          <%= link_to @prev.name, expert_path(@prev) %>
        </div>
      </div>
    </div>
    <% end %>
    
    <% if @next = @expert.next_expert %>
    <div class="next_exp" data-url="<%= expert_path(@next) %>">
      <div class="exp_cell">
        <div class="thumb">
          <%= link_to image_tag(@next.avatar), expert_path(@next) %>
        </div>
        <div class="name">
          <%= link_to @next.name, expert_path(@next) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  
  <%= render 'title' %>
  
  <div class="expert_big_info">
    <!-- OPTIMIZE: brrrr...brrr -->
    <div class="name"><%== @expert.name.split(' ').join('<br>') %></div>
    <div class="thumb">
      <%= link_to image_tag(@expert.avatar(:medium)), expert_path(@expert) %>
    </div>
    <div class="doljnost"><%= @expert.description %></div>
    <div class="clear"></div>
  </div>
  
  <div class="expert_page">
    <div class="left_part">
      <div class="dop_title">
        Биография
      </div>
      <div class="bio">
         <%= @expert.about %><br />
      </div>
      <%= render 'post_share' %>
    </div>
    
    <%= render 'site_activity', :expert => @expert %>
  </div>
</div>
